<!DOCTYPE html>
<html>
  <head>
    <title>Timeline</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/echarts/4.6.0/echarts-en.min.js" %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"%>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
